{% extends 'deployment/index.html' %}
{% block content %}

{% if saved == True %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> You successfully configured the deployment
</div>
{% endif %}

<div class="row" style="margin-top:1em">
    <h2>Deployment: {{ deployment.eDNA_UID }}</h2>
</div>

{% if deployment.has_data == True %}
<div class="row">
    <a href="/deployment/data/{{deployment.eDNA_UID}}">Download Data</a>
</div>
{% endif %}

<div class="container" style="margin-top:1em">
<form action="/deployment/{{deployment.eDNA_UID}}" method="post">
{% csrf_token %}

{{ form.non_field_errors }}
<h5>Pump Start Conditioins</h5>
<div class="row">
    <div class="col-md-3">
        {{ form.depth.errors }}
        <label for="{{ form.depth.id_for_label }}">Depth (m):</label>
    </div>
    <div class="col-md-2">
        {{ form.depth }}
    </div>
    <div class="col-md-3">
        {{ form.depth.help_text|safe }}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {{ form.depth_band.errors }}
        <label for="{{ form.depth.id_for_label }}">Depth Band (&#177m):</label>
    </div>
    <div class="col-md-2">
        {{ form.depth_band }}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {{ form.temperature.errors }}
        <label for="{{ form.temperature.id_for_label }}">Target Temperature (&#8451;):</label>
    </div>
    <div class="col-md-2">
        {{ form.temperature }}
    </div>
    <div class="col-md-3">
        {{ form.temperature.help_text|safe }}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {{ form.temp_band.errors }}
        <label for="{{ form.temp_band.id_for_label }}">Temperature Band (&#177&#8451;)</label>
    </div>  
    <div class="col-md-2">
        {{ form.temp_band }}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {{ form.wait_pump_start.errors }}
        <label for="{{ form.wait_pump_start.id_for_label }}">Duration before pump starts (min)</label>
    </div>  
    <div class="col-md-2">
        {{ form.wait_pump_start }}
    </div>
</div>

<h5>Pump End Conditioins</h5>
<div class="row">
    <div class="col-md-3">
        {{ form.flow_volume.errors }}
        <label for="{{ form.flow_volume.id_for_label }}">Max. Pump Volume (L)</label>
    </div>  
    <div class="col-md-2">
        {{ form.flow_volume }}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {{ form.min_flow_rate.errors }}
        <label for="{{ form.min_flow_rate.id_for_label }}">Min. Flow Rate (L/min)</label>
    </div>  
    <div class="col-md-2">
        {{ form.min_flow_rate }}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {{ form.wait_pump_end.errors }}
        <label for="{{ form.wait_pump_end.id_for_label }}">Duration before pump stops (min)</label>
    </div>  
    <div class="col-md-2">
        {{ form.wait_pump_end }}
    </div>
</div>

<h5>Flowmeter Specification</h5>
<div class="row">
    <div class="col-md-3">
        {{ form.ticks_per_L.errors }}
        <label for="{{ form.ticks_per_L.id_for_label }}">Pulses per Liter (pulses/L)*</label>
    </div>  
    <div class="col-md-2">
        {{ form.ticks_per_L }}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a href="/deployment" class="btn btn-secondary">
            Back
        </a>    
        {% if deployment.has_data == False %}
        <input type="submit" class="btn btn-primary" value="Submit">
        {% else %}
        <input type="submit" class="btn btn-primary" value="Submit", disabled="disabled">
        {% endif %}
    </div>
</div>
</form>
</div>
{% endblock %}
