{% load static %}
<html>
<head>
<title>eDNA</title>        
<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<link href="{% static 'css/general.css' %}" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/deployment">eDNA</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/deployment/logs">Logs <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </nav>
    <div class="content container">      
        {% block content %}
        <div class="row" style="margin-top:1em">
            
            <h2>Deployments</h2>
            </div>
            <div class="col-md-6" style="margin-top:1em">

            {% if deployment_list %}
            <table class="table">
                <thead>
                    <th style="text-align:center" scope="col">Device No.</th>
                    <th style="text-align:center" scope="col">eDNA UID</th>
                    <th style="text-align:center" scope="col">Data</th>
                    <th style="text-align:center" scope="col">Delete</th>

                </thead>
                <tbody>
                    {% for deployment in deployment_list %}

                    <tr>
                        <td style="text-align:center" scope="row">
                            {{deployment.device.device_id}}
                        </td>
                        <td style="text-align:center">
                            {% if deployment.has_data == False %}
                            {{ deployment.eDNA_UID }} (<a href="/deployment/{{ deployment.eDNA_UID }}">edit</a>)
                            {% else %}
                            {{ deployment.eDNA_UID }} (<a href="/deployment/{{ deployment.eDNA_UID }}">view</a>)
                            {% endif %}
                        </td>
                        <td style="text-align:center">
                            {% if deployment.has_data == True %}
                            <a href="/deployment/data/{{ deployment.eDNA_UID }}">Download</a></td>
                            {% else %}
                            No Data
                            {% endif %}
                        </td>
                        <form action="/deployment/delete/{{ deployment.eDNA_UID }}" method="post">

                        <td style="text-align:center">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger" value="Delete">
                        </td>
                    </form>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
                <p>No deployments are available.</p>
            {% endif %}
        </div>
        {% endblock %}
    </div>
</body>
</html>